body {
    font-family: Geneva;
}

#header {
    background-color: dimgray;
    height: 5.5rem;
    border-bottom: 1rem solid lightsalmon;
}

#header h1 {
    font-size: 1.5rem;
    color: white;
}

#title {
    height: 27rem;
    background-color: lightgray;
    text-align: center;
}

* {
    margin: 0;
}

#about {
    display: flex;
}

#about img {
    height: 15rem;
}

h3 {
    color: lightsalmon;
    width: 10rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem;
}

#fav {
    display: flex;
    justify-content: space-evenly;
}
